body{
    font-family: 'Noto Sans Arabic', sans-serif !important;
}
body {
    position: relative;
}
a{
    text-decoration:none !important;
}

/* CSS for the loading cover */


 .credit-box {
      border-radius: 10px;
      background-color: #007bff;
      color: #fff;
      padding: 20px;
      margin-bottom: 20px;
    }